.project
.classpath
dao/target/

model/target/

test/target/

dao/src/main/java/config/daoTest\.java

test/src/test/java/dao/IJoueurDAOTest\.java

test/src/test/java/dao/ITetriminoDAOTest\.java

dao/\.settings/
model/\.settings/
test/\.settings/
web/\.settings/

web/target/m2e-wtp/web-resources/META-INF/maven/fr\.formation\.tetris/web/pom\.properties
