.background{

  position: absolute;


  height:100%;
  width:100%;

  opacity:0.3;

  background-image: url(pedalo.jpg);
  background-repeat: no-repeat;
  background-size: 100% 110%;


}
.plateaucomplet{

  position:relative;

  height:500px;
  width:250px;
   border-style: solid;
   border-color: black;

}
.plateau{
  height:100%;
  width: 100%;
}

.plateau audio{
  display:none;
}
