.background{

  position: absolute;


  height:100%;
  width:100%;

  opacity:0.6;

  background-image: url(pedalo.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;


}

.plateauscore{
  position:relative;
  top:0px;
  float:left;
  margin-left: 10px;

}
.plateaucomplet{

  position:relative;
  float:left;
  height:700px;
  width:400px;
   border-style: solid;
   border-color: black;
   background-color: #E3E1E1;

}
.plateau{
  height:100%;
  width: 100%;
}

.plateau audio{
  display:none;
}

.tetrimino{
  position:relative;
  height:100px;
  width:150px;
  top:50%;
  left:40%;

}
.ligne1{
  position:relative;
  height:50px;
  width:50px;
  top:0px;
  right:0px;
  background-image: url(poulecarre.png);
  background-size:100% 100%;

}

.ligne2 {
  position: relative;
  height:50px;
  width:150px;

}

#i1,#i2,#i3 {
  position:relative;
  float:left;
  height:50px;
  width:50px;

}

.ligne1:hover, #i1:hover, #i2:hover, #i3:hover{
  animation:rotation 0.2s;
  animation-iteration-count: infinite;
}

@keyframes rotation{
  25%{transform:rotate(90deg);}
  50%{transform: rotate(180deg);}
  75%{transform: rotate(270deg);}
  100%{transform:rotate(360deg);}

}

.livescore {
  position:relative;
  float:left;
  height:200px;
  width:200px;
  border-style: solid;
  border-color: black;
  margin-left: 10px;
  background-image: url(planpedalo.png);
  background-repeat: no-repeat;
  background-size:100% 100%;
}

h1{
  position:relative;
  font-family:cursive;
  color: #2A0E0E;
  margin-top: -2px;
  top:0px;
  left:40px;
  font-size: 20px

}
.vide{
  position:relative;
  float:left;
  height:35px;
  width:35px;
}

#i4,#i5,#i6,#i7{
  position:relative;
  float:left;
  height:35px;
  width:35px;

}

.ligne3,.ligne4{
  position: relative;
  height:35px;
  width:105px;
}
.piecesuivante{
  position:relative;
  top:20px;
  left:45px;
}

.score{
  position:relative;

  font-size:40px;
  top:40px;
  left:68px;
  font-family: monospace;
  color:#2A0E0E;


}

body{
  background-image: url(planche.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  overflow: hidden;
}

.information{
  position:relative;
  float:left;
  font-size: 25px;
  font-weight: bolder;
  color: white;
  width:500px;

}
.description {
  font-size:20px;
  color: black;

}

#bill,#dolores,#chinois,#vonzimmel{
  height:150px;
  width:150px;
  margin-left: 20px;
  border-style: solid;
  border-color: black;
}
 .ligneperso2{
  margin-top: 10px;
}

.titre{
  font-size:20px;
  color: white;
  font-style:italic;
  margin-top:10px;
}

.perso1, .perso2, .perso3, .perso4{
  position: relative;
  float:left;
  margin-top:10px;
}
 .perso1 >label, .perso2>label, .perso3>label, .perso4>label{
   position:absolute;

  display: none;
  font-size:15px;
  margin-left:22px;


}

.perso1:hover>label, .perso2:hover>label, .perso3:hover>label, .perso4:hover>label{
  display:block;
  top:1px;
}

.perso1:hover>img, .perso2:hover>img,.perso3:hover>img, .perso4:hover>img{
  opacity:0.6;
}
